@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="PickCompare">Compare</a>

<ul>
    @foreach(string sessionName in Model.SessionNames)
    {
        <li><a href="/session?sessionname=@sessionName">@sessionName</a></li>
    }
</li>